<h1>Edit product</h1>

<%= form_with(model: @product, url: product_path(@product), method: "patch") do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :model %><br>
        <%= form.text_field :model %>
    </div>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price %><br>
        <%= form.number_field :price %>
    </div>
    <div>
        <%= form.submit %>
    </div>
    
<% end %>
<p><a href="/">Назад</a></p>